h1 {
    display: table; /* keep the background color wrapped tight */
    margin: 0px auto 0px auto; /* keep the table centered */
    padding:5px;font-size:30px;background-color:rgb(0, 13, 128);color:#ff9999;
}