.center {
    position: absolute;
    top: 26.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.bar {
    border: none;
    padding: 10px;
    margin: 10px;
    height: 20px;
    width: 500px;
    border:1px solid #eaeaea;
    border-radius: 30px;
    outline:none;
}

.searchbar {
    border: none;
    padding: 10px;
    margin: 10px;
    height: 20px;
    width: 500px;
    border:1px solid #eaeaea;
    border-radius: 30px;
    outline:none;
}